body {
  background: #eaf2ff;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 1em;
}

.main-container {
  background: white;
  border-radius: 20px;
  padding: 1em 3em;
  margin: auto;
  width: 60%;
  max-width: 600px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

iframe.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#real-video-container {
  /* Video starts out not showing.  Instead, show the teaser image */
  display: none;
}

img.video {
  width: 100%;
  border: 3px solid black;
  cursor: pointer;
  vertical-align: center;
}

.authors {
  font-weight: normal;
  font-size: 1.25em;
}

.centered {
  text-align: center;
}
